.container{
  background-color: #1b1b1b;
  padding: 1rem 2rem;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.logo{
  cursor: pointer;
  user-select: none;
}

.mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.container ul {
  flex-direction: column;
}

.container ul li {
  display: inline-block;
  padding: 0px 20px;
  user-select: none;
}

.container ul li a{
  font-family: 'Arvo', serif;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 1.2rem;
}

.container ul li a:hover{
  color:#0088a9
}

.button{
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border:none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  display: none;
}

.button:hover{
  background-color: rgba(0,136,169,0.8);
}

.hamburger{
  color: white;
  font-size: 2rem;
  margin: auto;
}

.flex{
  display: flex;
}

.links{
  display: none;
}

@media screen and (min-width: 768px){
  .container{
    flex-direction: row;
  }

  .container ul, .button{
    display: flex;
  }

  .container ul{
    flex-direction: row;
  }

  /* .links{
    display: flex;
  } */

  .hamburger{
    display: none;
  }
}