.navbar {
  /* background-color: tomato; */
  /* width: 90vw; */
  /* margin-left: 5vw; */
  /* margin-right: 5vw; */
  font-family: 'Arvo', serif;
  padding:1rem 5vw 1rem 5vw;
  box-shadow: 0 4px 4px -4px gray
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  background-color: 'red';
}

.navbar ul li span{
  display: block;
  font-weight: 600;
  /* color:white */
}

#login{
  border-width: 0;
}

#signup{
  background-color: #3751FF;
  color: 'tomato'
}
